<div id="container" class="container">
  <div class="bb-custom-wrapper">
    <div id="bb-bookblock" class="bb-bookblock">
      <% @mentors.each.with_index(1) do |mentor, index| %>
        <%= render partial: 'page', locals: {mentor: mentor, index: index} %>
      <% end %>
    </div>
  </div>
  <%= javascript_include_tag 'jquery.mousewheel.js' %>
  <%= javascript_include_tag 'jquery.jscrollpane.min.js' %>
  <%= javascript_include_tag 'jquerypp.custom.js' %>
  <%= javascript_include_tag 'jquery.bookblock.js' %>
  <%= javascript_include_tag 'page.js' %>
</div><!-- /container -->